:root{
    --border-radius : 20px;
    --color-page-background : #393652;
    --color-menu-background : #1E1A40;
    --color-bubble:#67A6C0;
    --border-element: 2px solid #F9A5A5;
}
* {
    margin: 0;
    padding: 0;

    transition: all .5s;
    outline-style: none;
}


body
{
    background: var(--color-page-background);
}

#bodyContainer {

    /*todo remove the line underneath*/
    /*background-color: unset !important;*/


    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0 10px;


    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

#wallpaperImage{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;


    opacity: .6;
    background-position: center !important;
    background-size: cover  !important;
    background-repeat: no-repeat !important;

}
.wallpaperHidden{
    opacity: 0.1 !important;
}

#searchAndSuggestions{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchAndSuggestions_withInput{
    background-color: var(--color-menu-background);
    width: fit-content !important;
    border-radius: 0 0  var(--border-radius)  var(--border-radius) ;
    padding: 0 5px;

}
#searchBarContainer{
    position: relative;
    min-width: 50vw;
    height: 50px;

    display: flex;
    align-items: center;

    margin-bottom: 10px;

}
.searchBarContainer_withInput{
    min-width:  80vw !important;

}

#searchButton{
    position: absolute;
    right: 5px;

    width: 45px;
    height: 45px;

    border-radius: var(--border-radius);


}
#searchButton:hover{
    cursor: pointer;
}
#searchInput{
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    padding: 0 60px 0 10px;

    border-radius: var(--border-radius);
    border: 1px black solid;

}


#contentContainer{
    width:100%;
    height: 100%;

    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit ,  [col] 100px );
    grid-auto-rows: 100px;
    justify-content:center;
    grid-gap: 10px;
    overflow: auto;

    max-height: 100%;


}
.contentElement img{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: var(--border-element)
}
.contentElement{
}

#suggestionsContainer{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.suggestionBubble{
    width: max-content;
    height: max-content;
    margin: 5px;
    padding: 0 5px;
    box-sizing: content-box;
    text-align: center;
    background-color: var(--color-bubble);
    border-radius: var(--border-radius);
    user-select: none;
}



#selectedItemContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;

}
#selectedItem {
    position: absolute;

    /*width: 50vw ;*/
    /*height: 50vh;*/
    background-color: darkred;
    border: var(--border-element);

    border-radius: var(--border-radius) !important;
    background-position: center !important;
    background-size:  100% 100%  !important;
    background-repeat: no-repeat !important;

}
#outsideSelectedItem{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;

}




.hideContent{
    /*display: none !important;*/
    max-height: 0 !important;

}
.hidden{
    display: none !important;
}


@media only screen and (max-width: 600px) {
    #bodyContainer, #searchAndSuggestions{
       flex-direction: column-reverse ;
    }
    #suggestionsContainer{
        align-items: flex-end;

    }
    #bodyContainer{
        flex-direction: column-reverse ;
        padding-bottom: 0;
        padding-top: 0;
    }
    .searchAndSuggestions_withInput{
        border-radius: var(--border-radius)  var(--border-radius) 0 0 ;

    }
    .searchBarContainer_withInput{
        min-width:  90vw !important;

    }

}